@{
    ViewData["Title"] = "Contact";
}

<address>
    Neville Farrell<br />
    13, Cloister Square, Blackrock, Co. Dublin<br />
    <abbr title="Phone">P:</abbr>
    +353 87 3378109
</address>

<address>
    <strong>Built:</strong> <a href="mailto:nev@nev.ie">nev@nev.ie</a><br />
</address>
